<% provide :title, t("title.sign_up") %>
<% provide :button_text, t(".btn_title") %>

<h1><%= t "title.sign_up" %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "form" %>
  </div>
</div>
