<div class="nested-fields">
  <%= f.label :title, "Câu trả lời" %>
  <div class="input-group mb-5">
    <%= f.text_field :title, class: "form-control " %>
    <%= link_to_remove_association "Xóa câu hỏi", f, class: "form-control btn btn-danger" %>
  </div>
</div>
